body {font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;}
a {text-decoration: none;}
ul,ol {list-style-type: none;}
button {cursor: pointer;}

    /* #region Header */

        .header-page {}
    
        .nav-page {}
    
        .logo {            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;}

        .logo-style {font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #2e2f42;}
    
        .nav-list {}
    
        .nav-item {font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;}
    
        .nav-item-link {font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;}
            .nav-item-link:hover,
            .nav-item-link:focus {color: #404bbf}

    /* #endregion  */
        /* #region adress */    

        .adress-page {font-style: normal
        }
        .adress-list {
        }
        .adress-item {
        }
        .adress-item-link {font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
        }
        .adress-item-link:hover,
        .adress-item-link:focus {color: #404bbf;}
        /* #endregion */
    /* #region Main One */
    .section-general {background-color: #2e2f42;
    }
    .general-page {font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
    }
    .general-btn {font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
    }
    .general-btn:hover,
    .general-btn:focus {background-color:  #404bbf;}
    /* #endregion */
    /* #region main two */
    .skills-list {
    }
    .skills-item {
    }
    .skills-item-head {font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }
    .skills-item-text {font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
    /* #endregion */
    /* #region main tres */
    .team-page { background-color: #f4f4fd;
    }
    .team-title {font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize
    }
    .team-list {
    }
    .team-list-item { background-color: #fff;
    }
    .team-list-img { 
    }
    .team-leader {font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
    }
    .team-leader-text {font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
    }
    /* #endregion */
    /* #region portfolio */
    .portfolio-page {
    }
    .porfolio-title {font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize
    }
    .porfolio-list {
    }
    .portfolio-item {
    }
    .portfolio-img {
    }
    .portfolio-item-name {font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }
    .portfolio-item-text {font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
    /* #endregion */

    /* #region Footer */
    .footer {background-color: #2e2f42;
    }
   
    .logo-foot-style {color: #f4f4fd;
    }
    .footer-text {font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
    }
    /* #endregion */